{% load i18n wagtailcore_tags snippet_tags wagtailuserbar %}
<header>
    {% get_heading %}

    {% comment %} {% get_navbar %} {% endcomment %}


    {% get_site_root as site_root %}

    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">

            {% get_navbar_title %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" href="{% pageurl site_root %}">{{ site_root.title }}</a>
                    </li>
                    {% for item in site_root.get_children.live.in_menu %}
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase" href="{% pageurl item %}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    {% if page %}
        <div class="localization">
            <ul class="languages">
                {% for language_code, language_name in LANGUAGES %}
                    {% get_language_info for language_code as lang %}
                    {% language language_code %}
                        <li class="lang-item">
                            {% if language_code != page.locale.language_code %}
                                <a class="" href="{% pageurl page.localized %}"
                                    rel="alternate" hreflang="{{ language_code }}">
                                    {{ lang.name_local }}
                                </a>
                            {% else %}
                                <span class="">{{ lang.name_local }}</span>
                            {% endif %}
                        </li>
                    {% endlanguage %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% wagtailuserbar 'bottom-right' %}
</header>
{% comment %} <div class="localization">
    <ul class="languages">
        <li class="lang-item">
            {% if language_code != page.locale.language_code %}
                <a class="" href="{% pageurl page.localized %}"
                    rel="alternate" hreflang="{{ language_code }}">
                    {{ lang.name_local }}
                </a>
            {% else %}
                <span class="">{{ lang.name_local }}</span>
            {% endif %}
        </li>
        <li class="lang-item">
            {% if language_code != page.locale.language_code %}
                <a class="" href="{% pageurl page.localized %}"
                    rel="alternate" hreflang="{{ language_code }}">
                    {{ lang.name_local }}
                </a>
            {% else %}
                <span class="">{{ lang.name_local }}</span>
            {% endif %}
        </li>
    </ul>
</div> {% endcomment %}