{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extra_css %}

{% block content %}
    {% for block in page.contact_info %}
        {% if block.block_type == 'info' %}
            <section class="page-section cta">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <div class="cta-inner bg-faded text-center rounded">
                                {% for section in block.value %}
                                    {% if section.block_type == 'headers' %}
                                        <h2 class="section-heading mb-5">
                                            <span class="section-heading-upper">{{ section.value.upper_heading }}</span>
                                            <span class="section-heading-lower">{{ section.value.lower_heading }}</span>
                                        </h2>
                                    {% endif %}
                                    {% if section.block_type == 'schedule' %}
                                        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                            {% for string in section.value %}
                                                <li class="list-unstyled-item list-hours-item d-flex">
                                                    {{ string.value.day }}
                                                    <span class="ms-auto">
                                                        {% if string.value.worktime_from and string.value.worktime_to %}
                                                            {{ string.value.worktime_from }} to {{ string.value.worktime_to }}
                                                        {% else %}
                                                            Closed
                                                        {% endif %}
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if section.block_type == 'address' %}
                                        <p class="address mb-5">
                                            <em>
                                                <strong>{{ section.value.address_upper }}</strong>
                                                <br />
                                                {{ section.value.address_lower }}
                                            </em>
                                        </p>
                                    {% endif %}
                                    {% if section.block_type == 'contacts' %}
                                        <p class="mb-0">
                                            {% if section.value.short_message %}
                                                <small><em>{{ section.value.short_message }}</em></small>
                                                <br />
                                            {% endif %}
                                            {% if section.value.phone %}
                                                {% if section.value.phone|length == 10 %}
                                                    ({{ section.value.phone|slice:":3" }}) {{ section.value.phone|slice:"3:6" }}-{{ section.value.phone|slice:"6:" }}
                                                {% elif section.value.phone|length == 11 %}
                                                    +{{ section.value.phone|slice:":1" }} ({{ section.value.phone|slice:"1:4" }}) {{ section.value.phone|slice:"4:7" }}-{{ section.value.phone|slice:"7:" }}
                                                {% elif section.value.phone|length == 12 %}
                                                    +{{ section.value.phone|slice:":2" }} ({{ section.value.phone|slice:"2:5" }}) {{ section.value.phone|slice:"5:8" }}-{{ section.value.phone|slice:"8:" }}
                                                {% elif section.value.phone|length == 13 %}
                                                    +{{ section.value.phone|slice:":3" }} ({{ section.value.phone|slice:"3:6" }}) {{ section.value.phone|slice:"6:9" }}-{{ section.value.phone|slice:"9:" }}
                                                {% endif %}
                                                <br>
                                            {% endif %}
                                            {% if section.value.email %}
                                                {{ section.value.email }}
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    {% block extra_js %}
        <!-- Core theme JS-->
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {% endblock extra_js %}
{% endblock content %}
