{% extends "base.html" %}

{% load static %}

{% block title %}Page not found{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Sorry, this page could not be found.</span>
                            <span class="section-heading-lower">Page not found</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
